# How to verify
1. `git clone https://github.com/retr0-init/retr0-init.git ; cd retr0-init`
2. `chmod +x verify.sh`
3. `./verify.sh ./5D0C3A5465F159CE.asc`
    1. Send the generated text to me and ask for the decrypted message
    2. Copy the message in the prompt. If it's verified, the script will show `Verified at <timestamp in UTC>`. You can copy the whole output text of this script or take the screenshot of this as the evidence.
